*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    user-select: none;
}
body{
    overflow: hidden;
}
.container{
    display: flex;
}
.pby{
    text-shadow: 0px 0px 10px #00ccff, 10px -5px 10px red, -10px 5px 10px blue;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pby img{
    vertical-align: middle;
    width: 45px;
    height: 45px;
}
.v-nav{
    display: block;
    position: fixed;
    background-color: black;
    width: 20%;
    height: 100%;
}
.v-nav ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.v-nav li{
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}
.v-nav li>a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
    size: 100%;
}

.v-nav li:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.v-nav li:active{
    background-color: rgb(0, 255, 200);
    color: rgb(0, 0, 0)
}

.display{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 20%;
}
.page-title{
    display: block;
    text-align: center;
    backdrop-filter: grayscale(100);
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    padding: 3px;
    font-size: 50px;
    font-family:monospace;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.page-info{
    display: block;
    font-weight: normal;
    text-shadow: 10px 10px 20px rgb(0, 183, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.849);
    backdrop-filter: blur(5px) grayscale(100);
    color: white;
    margin: 1%;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;
}
.page-info:hover{
    background-color: black;
}
#data-wind{
    background-color: rgba(0, 0, 0, 0.904);
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-family: monospace;
    margin: 10px 100px 10px 100px;
    padding: 20px;
    height: 38em;
    border-radius: 10px;
    overflow-y: auto;
}
#data-wind .data{
    display: inline;
    font-family: monospace;
    font-weight: normal;
}

.controls{
    display: flex;
    flex-wrap:nowrap;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin: 5%;
    padding: 20px;
    border-radius: 10px;
}

input{
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.controls p{
    font-size: 14px;
    padding: 5px;
    background-color: rgba(2, 192, 255, 0.336);
    border-radius: 10px;
}
button{
    display: inline-block;
    max-height: 50px;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px black solid;
    border-radius: 10px;
}
button:hover{
    background-color: white;
    color: rgb(0, 0, 0)
}
button:active{
    background-color: black;
    color: white;
}
#selfdestroy{
    background-color: red;
}
.controloutput{
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: monospace;
    width: 100%;
    height: 20em;
    padding: 5px;

    overflow-y: scroll;
    border: solid 1px black;
}
break{
    display: block;
}
input[type="checkbox"]{
    display: inline;
    width: 25px;
    height: 25px;
}
.controls hr{
    margin: 5px;
}
choice{
    display: block;
    padding: 5px;
    margin: 5px;
    background-color: rgb(108, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
}
bpv{
    color: red;
    font-size: 15px;
    text-align: center;
}
@media only screen and (max-width:988px) and (max-height:570px){
    #data-wind{
        height: 25em;
    }
}